[submodule "rrm_installer"]
	path = rrm_installer
	url = https://github.com/AOx0/rrm_installer
[submodule "rrm_xml"]
	path = rrm_xml
	url = https://github.com/AOx0/rrm_xml
[submodule "rrm_locals"]
	path = rrm_locals
	url = https://github.com/AOx0/rrm_locals
[submodule "rrm_scrap"]
	path = rrm_scrap
	url = https://github.com/AOx0/rrm_scrap.git
